:root {
  --per: 0%;
}

.hovering-bottom {
  animation-name: hovering-bottom;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.hovering-top {
  animation-name: hovering-top;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.search-input-border-color:focus{
  outline: none !important;

  background: linear-gradient(#f1f1f1, #f1f1f1) padding-box,
  linear-gradient(to right, #c3ff15, #00e598) border-box;
  background-size: 400% 400%;
  animation: input-gradient 5s ease infinite;


  border-radius: 50px;
  border: 3px solid transparent;
  padding: 2px;
}


.icon-div-left{
  width: 10vw;
  background: #ffffff;
  border: 3px solid transparent;
  padding: 2px;
}

.icon-div-middle{
  width: 10vw;
  background: #ffffff;
  border: 3px solid transparent;
  padding: 2px;
}

.icon-div-right{
  width: 10vw;
  background: #ffffff;
  border: 3px solid transparent;
  padding: 2px;
}

.icon-div-left:hover{
  background: linear-gradient(#ffffff, #ffffff) padding-box,
  linear-gradient(to right, #54c204, #c3ff1500) border-box;
  background-size: 400% 400%;
  animation: gradient 1s;

  animation-name: icon-background-flow;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  border: 3px solid transparent;
  padding: 2px;
}

.icon-div-middle:hover{
  background: linear-gradient(#ffffff, #ffffff) padding-box,
  linear-gradient(to bottom, #2bb939, #c3ff1500) border-box;
  background-size: 400% 400%;
  animation: gradient 1s;

  animation-name: icon-background-flow;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  border: 3px solid transparent;
  padding: 2px;
}

.icon-div-right:hover{
  background: linear-gradient(#ffffff, #ffffff) padding-box,
  linear-gradient(to left, #02b06d, #c3ff1500) border-box;
  background-size: 400% 400%;
  animation: gradient 1s;

  animation-name: icon-background-flow;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  border: 3px solid transparent;
  padding: 2px;
}



.preset-border-color{
  outline: none !important;

  background: linear-gradient(#f1f1f1, #f1f1f1) padding-box,
  linear-gradient(to right, #00e598, #c3ff1500 50%) border-box;
  background-size: 400% 400%;
  animation: gradient 1s;

  animation-name: button-gradient-flow-backwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  border-radius: 50px;
  border: 3px solid transparent;
  padding: 2px;


}
.preset-border-color:hover{
  outline: none !important;



  background: linear-gradient(#f1f1f1, #f1f1f1) padding-box,
  linear-gradient(to right, #00e598, #c3ff1500) border-box;
  background-size: 400% 400%;
  animation: gradient 1s;

  animation-name: icon-background-flow;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  border-radius: 50px;
  border: 3px solid transparent;
  padding: 2px;
}

@keyframes hovering-bottom {
  from {transform:translate(0, 0px);}
  50% {transform:translate(0, -4px);}
  to {transform: translate(0, -0px);}
}

@keyframes hovering-top {
  from {transform:translate(0, 0px);}
  50% {transform:translate(0, -8px);}
  to {transform: translate(0, -0px);}
}

@keyframes button-gradient-flow{
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes button-gradient-flow-backwards{
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes icon-background-flow{
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes icon-background-flow-backwards{
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes input-gradient{
  0% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .search-input-border-color:focus{
    background: linear-gradient(#000000, #000000) padding-box,
    linear-gradient(to right, #c3ff15, #00e598) border-box;
    background-size: 400% 400%;
  }

  .preset-border-color{
    background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(to right, #00e598, #c3ff1500 50%) border-box;
    background-size: 400% 400%;
  }

  .preset-border-color:hover{
    background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(to right, #00e598, #c3ff1500) border-box;
    background-size: 400% 400%;
  }

}
