.visible-link-color{
    color: #00b576;
}

.headline-color{
    color: #007A02;
}

.teaser-color{
    color: #A3A3A3;
}

.content-layout-color{
    background-color: #f1f1f1;
}

.search-input-color{
    background-color: #e5e5e5;
}

.search-input-border-color:focus{
    outline: none !important;

    background: linear-gradient(#e5e5e5, #e5e5e5) padding-box,
    linear-gradient(to right, #c3ff15, #00e598) border-box;
    border-radius: 50px;
    border: 3px solid transparent;
    padding: 2px;
}

.complementary-color{
    color: #FF9900;
}

.plugin-name-color{
    color: #00b576;
}