.visible-link-color{
    color: #00b576;
}

.headline-color{
    color: #007A02;
}

.text-black{
    color: #000000;
}

.text-button{
    color: #000000;
}

.popup-background{
    background-color: #ffffff;
}

.teaser-color{
    color: #A3A3A3;
}

.waiting-background-color{
    background-color: #f1f1f1;
}

.content-layout-color{
    background-color: #f1f1f1;
}

.search-input-color{
    background-color: #f1f1f1;
}

.search-input-border-color:focus{
    outline: none !important;

    background: linear-gradient(#f1f1f1, #f1f1f1) padding-box,
    linear-gradient(to right, #c3ff15, #00e598) border-box;
    border-radius: 50px;
    border: 3px solid transparent;
    padding: 2px;
}

.complementary-color{
    color: #FF9900;
}

.plugin-name-color{
    color: #00b576;
}

.error-color{
    color: #ff0000;
}

@media (prefers-color-scheme: dark) {
    .search-input-color{
        background-color: #212121;
        color: #ffffff;
    }

    .search-input-border-color:focus{
        background: linear-gradient(#000000, #000000) padding-box,
        linear-gradient(to right, #c3ff15, #00e598) border-box;
    }

    .waiting-background-color{
        background-color: #212121;
        color: #ffffff;
    }

    .content-layout-color{
        background-color: #212121;
    }

    .text-black{
        color: #ffffff;
    }

    .popup-background{
        background-color: #000000;
        color: #00e598;
    }
}