.image-list{
    content: url("../assets/list.png");
}

.image-shuffle{
    content: url("../assets/shuffle.png");
}

.image-repeat{
    content: url("../assets/repeat.png");
}
/*
.image-arrow-left{
    content: url("../assets/arrow_left.png");
}

.image-arrow-right{
    content: url("../assets/arrow_right.png");
}*/

.image-arrow-left{
    content: url("../assets/arrow_left_white.png");
}

.image-arrow-right{
    content: url("../assets/arrow_right_white.png");
}


/*@media (prefers-color-scheme: dark) {*/
    .image-list{
        content: url("../assets/list-white.png");
    }

    .image-shuffle{
        content: url("../assets/shuffle-white.png");
    }

    .image-repeat{
        content: url("../assets/repeat-white.png");
    }

    .image-arrow-left{
        content: url("../assets/arrow_left_white.png");
    }

    .image-arrow-right{
        content: url("../assets/arrow_right_white.png");
    }
/*}*/