.nav{

  background: linear-gradient(-45deg, #c3ff15, #00ff00, #00ff77, #00e598);
  background-size: 400% 400%;
  animation: nav-gradient-flow 20s ease infinite;
  height: 30px;
}


.div-left{
  margin-left: 1vw;
  width: 89vw;
  position: absolute;
  justify-content: start;
}

.div-right{
  width: 95vw;
  position: absolute;
  justify-content: end;
}


.nav-module{
  font-weight: bold;
  cursor: pointer;
  margin-right: 40px;

  transition: transform 250ms;
}

.nav-module:hover{
  transform: scale(1.2,1.2);

}





@keyframes nav-gradient-flow{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 360px) {


}

@media (max-width: 800px) {

  .div-left{
    justify-content: center;
  }
  .nav{
    display: flex;
    justify-content: center;
  }

}

@media (max-width: 580px) {

  .nav-module{
    font-weight: normal;
    font-size: 3.5vw;
  }
  .nav-module{
    margin-right: 5vw;
  }

  .nav{
    height: 6vw;
  }



}
