.view-border{
    width: 700px;
    border: solid;
    border-radius: 12px;
    border-color: transparent;
    margin-top: 20px;
}

.border-width{
    width: 700px;
}

.waiting-border{
    width: 400px;
    border: solid;
    border-radius: 12px;
    border-color: transparent;
    margin-top: 5px;
}

.waiting-margin{
    margin-top: 10px;
}

.view-image{
    max-height: 300px;
    max-width: 600px;
}

.play-store-icon-image{
    margin-right: 20px;
    width: 80px;
    height: 80px;
    border: solid;
    border-radius: 20px;
    border-color: transparent;
}

.icon-view{
    display: flex;
    width: 100%;
    justify-content: right;
}

.view-plugin-name{
    font-size: 12px;
}

.bold{
    font-weight: bold;
}

@media (max-width: 700px) {

    .view-border{
        width: 90vw;
    }

    .border-width{
        width: 50vw;
    }

    .waiting-border{
        width: 60vw;
    }

    .view-image{
        max-height: 200px;
        max-width: 80vw;
    }

    .play-store-icon-image{
        max-width: 20vw;
        max-height: 20vw;
    }
}

@media (max-width: 420px) {

    .play-store-icon-image{
        border-radius: 5vw;
    }

}

